    {% extends 'galeria/base.html' %}
    {% block title %}pesquisa{% endblock %}
    {% block content %}
        {% if resultados %}
        <h2 class="text-2xl font-semibold mb-6 text-center">
            Países encontrados
        </h2>
        <div class="flex flex-wrap justify-center gap-6">
            {% for pais in resultados %}
            <div
                class="w-full relative sm:w-[calc(50%-1.5rem)] lg:w-[calc(33.333%-5rem)] bg-gray-50 p-3 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out">
                {% if pais.image %}
                    <img src="{{ pais.image.url }}" alt=""
                    class="w-full h-48 object-cover blur-[2px] rounded-md mb-4">
                {% endif %}
                <div class="absolute top-5 p-2 ">
                    <h3 class="text-xl font-bold mb-2 text-gray-900">{{pais.title}}</h3>
                    <p class="text-white mb-4">{{pais.description}}</p>
                    <a href="{% url 'pais_detail' id=pais.id%}"
                        class="text-white underline hover:text-blue-700 font-semibold">Ver país &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h2 class="text-2xl font-semibold mb-6 text-center">
            Nenhum País encontrado
        </h2>
        {% endif %}
    {% endblock %}